
ul ol{
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f2f2f2;
}
a{
	text-decoration: none !important;
	color: inherit  !important;
	font-size: 12px;
}
.allbox{
	height: 100%;
	background: #20222A;
	position: relative;
}
.allbox .left_box{
	height: 100%;
	background: #20222A ;
	position: fixed;
	top: 0;
	left: 0;
	color: rgba(255,255,255,.6);
	transition: all 0.4s  linear;
}
.allbox .logo{
	height: 50px;
}
.allbox .left_box span{
	line-height: 50px;
}
.allbox .right_box{
	height: 100%;
	background: #f2f2f2;
	position: absolute;
	
}
.allbox .right_box  .top_nav{
	width: 100%;
	background: white;
	height: 40px;
	box-shadow: 0 0 15px rgba(0,0,0,.4);
}
.allbox .left_box .nav-box{
	width: 100%;
	height: 100%;
}
.allbox  .left_box .nav-box .nav{
	height: 100%;
	overflow: hidden;
}
.allbox .left_box .nav-box .nav .nav_items{
     height: auto;
	 overflow: scroll;
     left: 0;
}
.allbox .left_box .nav-box .nav .nav_items .in-box{
	
	height: 100%;
}
.allbox .left_box .nav-box .nav .nav_items .in-box{
	height: auto;
}
.allbox .left_box .nav-box .nav .nav_items .in-box .items-box{
	height: 56px;
	line-height: 56px;
	cursor: pointer;
	font-size: 12px;
} 
.allbox .left_box .nav-box .nav .nav_items .in-box .items-box .item_nav_icon {
	height: 24px;
	position: relative;
	line-height: 24px;
	overflow: hidden;
}
.allbox .left_box .nav-box .nav .nav_items .in-box .items-box .item_nav_icon .up{
	-webkit-transform: rotate(180deg);
	color: white;
	position: absolute;
	top: 36px;
	left: 0;
	transition: all .3s linear;
	
}
.allbox .left_box .nav-box .nav .nav_items .in-box .items-box .item_nav_icon .down{
	left: 0;
	position: absolute;	
	top: 0;
	transition: all .3s linear;
}
.allbox .left_box .nav-box .nav .nav_items .in-box .items-list{
	height: auto;
}
.allbox .left_box .nav-box .nav .nav_items .in-box .items-list ul li{
	width: 100%;
	height: 56px;
	list-style: none;
	text-indent: 16px;
	line-height: 56px;
}
.allbox .left_box .nav-box .nav_move{
	width: 6px;
	height: 56px;
	background: #009688;
	position: absolute;
	left: 0;
	top: -500px;
	transition: all .3s linear;
}

.allbox .top_nav a input{ 
	border: 0;
	color: #D2D2D2!important;
	font-size: 14px;
	outline: 0;	
}
.allbox .right_box .move{
	height: 2px;
	background: black;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	z-index: 9999999;
	transition: all .3s linear;
	
}
.allbox .right_box>.left-move{
	left: 0;
}
.allbox .right_box .right-move{
	left: 100%;
}
.allbox .right_box .iframe_box{
	width: 100%;
	height: 100%;
	
}
.allbox .right_box .iframe_box iframe{
	height: 100%;
	border: 0;
	margin: 0;
	margin-top: 20px;
	background: #f2f2f2;
}
.allbox .right_box .color-box{
	height: 100%;
	position: absolute;
	right: -500px;
	top: 0;
	z-index: 99999;
}
.allbox .right_box .color-box  .color-inbox{
	height: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	background-color: white;
	margin: 0;
	margin-top: 40px;
	overflow: hidden;
}
.allbox .right_box .color-box  .color-inbox{
	height: 100%;
}
.allbox .right_box .color-box  .color-inbox  .theme_box{
	height: 70px;
	padding: 5px;
	border: 1px solid transparent;
	transition: all .2s linear;
	background-color: white;

}
.allbox .right_box .color-box  .color-inbox  .theme_box:hover{
	border-color:  #009688;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme{
	height: 100%;
	background-color: white;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .header{
	width: 30%;
	height: 100%;
	float: left;
	background-color: black;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .header .top-head{
	width: 100%;
	height: 20%;
	background-color: black;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .header .nav{
	width: 100%;
	height: 80%;
	background-color: black;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .content {
  width: 70%;
	height: 100%;
	float: right;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .content .top-main{
	width: 100%;
	height: 20%;
	background-color: white;
}
.allbox .right_box .color-box .color-inbox  .theme_box .theme .content .main{
	width: 100%;
	height: 80%;
	background-color: #f2f2f2;
}
.theme_wrap{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.1);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
}
